:root {
    --md-primary-fg-color:        #125ea0;
    --md-primary-fg-color--light: #0088ff;
    --md-primary-fg-color--dark: #0088ff;
}

:root > * {

/* Footer */
--md-footer-bg-color: #125ea0;
--md-footer-bg-color--dark: hsla(0, 0%, 0%, 0.32);
}